* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
}
body {
	font-family: 'Red Hat Display', sans-serif;
	color: #000;
}
main {
	position: relative;
	width: 144rem;
	margin: 0 auto;
	padding: 2.3rem 7rem 0 7rem;
}
header {
	width: 129.6rem;
	height: 10.5rem;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 4.4rem;
}
.logo-4 {
	width: 18.7rem;
	align-self: flex-start;
}
.nav-list {
	list-style: none;
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: space-around;
}
.nav-list li,
.nav-list li a {
	display: inline-block;
}
.nav-list li a {
	color: inherit;
	text-decoration: none;
	font-weight: 500;
	font-size: 2rem;
}
.shop-area {
	display: flex;
	flex-direction: column;
	gap: 1.2rem;
	width: 35.1rem;
	align-items: center;
}
.align-center {
	justify-content: flex-end;
	min-width: 23.8rem;
}
.btn {
	display: inline-block;
	background: linear-gradient(90deg, #e8282f 1.91%, #a20006 100%);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	min-width: 20.4rem;
	height: 6.2rem;
	border-radius: 5rem;
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: center;
}
.btn span {
	display: inline-block;
	font-size: 2.2rem;
	font-weight: 500;
	margin: auto auto;
	color: #fff;
}
.guarantee {
	font-size: 1.6rem;
	font-weight: 700;
}
.hero-section {
	display: grid;
	grid-template-columns: 2fr 3fr;
}
.text-box {
	display: flex;
	flex-direction: column;
}
.text-box h1 {
	font-size: 5rem;
	font-weight: 700;
	margin-bottom: 2.8rem;
}
.text-box ul {
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 2.8rem;
}
.text-box ul li {
	font-size: 2.6rem;
	font-weight: 500rem;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 2.2rem;
}
.text-box ul li img {
	width: 3.4rem;
	height: 2.4rem;
}
.text-box ul .shop-area .btn {
	min-width: 35.1rem;
}
.img-box {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.img-box img {
	width: 100%;
}
.img-section {
	margin-top: 7.5rem;
	padding: 0 12.2rem;
	display: flex;
	gap: 10rem;
}
.element {
	min-width: 22.8rem;
	margin-bottom: 12.2rem;
}
.element img {
	width: 20rem;
	border-radius: 50%;
	margin-bottom: 0 auto 3.2rem auto;
}
.element p {
	width: 100%;
	font-weight: 700;
	font-size: 3rem;
	text-align: center;
	text-transform: capitalize;
}
