* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
}
body {
	font-family: 'Red Hat Display', sans-serif;
	color: #000;
}
main {
	position: relative;
	width: 144rem;
	margin: 0 auto;
}
.upper-section {
	padding: 2.3rem 7rem 0 7rem;
}
header {
	width: 150rem;
	height: 10.5rem;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 4.4rem;
}
.logo-4 {
	width: 18.7rem;
	align-self: flex-start;
}
.nav-list {
	list-style: none;
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: space-around;
}
.nav-list li,
.nav-list li a {
	display: inline-block;
}
.nav-list li a {
	color: inherit;
	text-decoration: none;
	font-weight: 500;
	font-size: 2rem;
}
.off {
	display: block;
	font-weight: 700;
	font-size: 3rem;
	min-width: 35rem;
	color: #e8282f;
}
.shop-area {
	display: flex;
	flex-direction: column;
	gap: 1.2rem;
	width: 35.1rem;
	align-items: center;
}
.align-center {
	justify-content: flex-end;
	min-width: 23.8rem;
}
.btn {
	display: inline-block;
	background: linear-gradient(90deg, #e8282f 1.91%, #a20006 100%);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	padding: 1.6rem 3.4rem;
	border-radius: 5rem;
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: center;
}
.btn span {
	display: inline-block;
	font-size: 2.2rem;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	margin: auto auto;
	color: #fff;
}
.guarantee {
	font-size: 1.6rem;
	font-weight: 700;
}
.footer-section {
	padding: 6.8rem 0 3.7rem 0;
	background-color: #000;
	color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2.7rem;
}

.shop-section {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5rem;
}
.product {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.product-title {
	font-weight: 700;
	font-size: 3.4rem;
	margin: 0 3rem 2.8rem 0;
}
.product .img-box {
	/* background-color: red; */
	height: 30rem;
	width: 35.5rem;
	border: 0.3rem solid #e8282f;
	border-radius: 0.2rem;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 3.2rem;
	overflow: hidden;
}
.product .img-box-bb {
	border: 3px solid #c4c4c4;
}
.regular {
	font-weight: 500;
	font-size: 2rem;
}
.regular-price {
	font-weight: 700;
	font-size: 4rem;
	text-decoration: line-through;
}
.today {
	font-weight: 500;
	font-size: 3rem;
}
.today-price {
	font-weight: 700;
	font-size: 6rem;
}
.save {
	font-weight: 700;
	font-size: 2.8rem;
}
.offer {
	font-weight: 700;
	font-size: 2.4rem;
	color: #ed3237;
	margin-bottom: 7.9rem;
}

.order-now {
	margin: 8rem 0 7rem 0;
}
.order-area {
	display: flex;
	flex-direction: column;
	gap: 1.3rem;
	width: 48.2rem;
	align-items: center;
	margin: 0 auto;
}
.order-now .order-area .btn {
	padding: 2.9rem 5.3rem;
	margin-top: 1.6rem;
}
.order-now .order-area .btn span {
	font-weight: 700;
	font-size: 30;
}
.order-now .order-area .guarantee,
.order-now .order-area .price {
	font-weight: 700;
	font-size: 2rem;
}

.footer-section h1 {
	font-weight: 700;
	font-size: 3rem;
}
.footer-section p {
	font-weight: 500;
	font-size: 2.4rem;
	line-height: 3.1rem;
	padding: 1.5rem 0;
	text-align: center;
}
.shop-footer {
	gap: 3rem;
}
.shop-footer .btn {
	padding: 2.3rem 8rem;
	align-items: center;
	justify-content: center;
}
.shop-footer a span {
	font-weight: 700;
	font-size: 3rem;
	letter-spacing: 0.01em;
	/* padding: 2.3rem 8rem; */
}
.shop-footer .guarantee {
	font-weight: 500;
	font-size: 2.4rem;
	line-height: 3.2rem;
}
.footer-menu {
	display: flex;
	padding: 0 9.6rem;
	width: 100%;
	list-style: none;
	align-items: center;
	justify-content: space-between;
	margin: 3.7rem 0;
}
.footer-menu li {
	font-weight: 700;
	font-size: 2.4rem;
	text-transform: capitalize;
	letter-spacing: 0.1rem;
}
.social-icons {
	display: flex;
	align-items: center;
	justify-content: center;
}
.social-icon {
	width: 5.4rem;
	height: 5.4rem;
	margin-right: 7.4rem;
}
.social-icon:last-child {
	margin-right: 0;
}
.footer-section .contact {
	margin-top: 4.5rem;
	margin-bottom: 3.5rem;
}
.footer-section .contact,
.footer-section .rights,
.footer-section .info {
	font-weight: 500;
	font-size: 2.2rem;
}
.footer-section .info {
	margin-top: 1rem;
	margin-bottom: 1rem;
	font-size: 2rem;
}
.footer-section .rights {
	padding: 0 0;
}

/* MOBILE */
.btn-mobile-nav {
	border: none;
	background: none;
	cursor: pointer;

	display: none;
}

.icon-mobile-nav {
	height: 4.8rem;
	width: 4.8rem;
	color: #333;
}

.icon-mobile-nav[name='close-outline'] {
	display: none;
}
