* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
}
body {
	font-family: 'Red Hat Display', sans-serif;
	color: #000;
}
main {
	position: relative;
}
.upper-section {
	padding: 2.3rem 7rem 0 7rem;
	width: 144rem;
	margin: 0 auto;
}
header {
	width: 129.6rem;
	height: 10.5rem;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 4.4rem;
}
.logo-4 {
	width: 18.7rem;
	align-self: flex-start;
}
.nav-list {
	list-style: none;
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: space-around;
}
.nav-list li,
.nav-list li a {
	display: inline-block;
}
.nav-list li a {
	color: inherit;
	text-decoration: none;
	font-weight: 500;
	font-size: 2rem;
}
.shop-area {
	display: flex;
	flex-direction: column;
	gap: 1.2rem;
	width: 35.1rem;
	align-items: center;
}
.align-center {
	justify-content: flex-end;
	min-width: 23.8rem;
}
.btn {
	display: inline-block;
	background: linear-gradient(90deg, #e8282f 1.91%, #a20006 100%);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	padding: 1.6rem 3.4rem;
	border-radius: 5rem;
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: center;
}
.btn span {
	display: inline-block;
	font-size: 2.2rem;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	margin: auto auto;
	color: #fff;
}
.guarantee {
	font-size: 1.6rem;
	font-weight: 700;
}
.hero-section {
	display: grid;
	grid-template-columns: 2fr 3fr;
}
.text-box {
	display: flex;
	flex-direction: column;
}
.text-box h1 {
	font-size: 5rem;
	font-weight: 700;
	margin-bottom: 2.8rem;
}
.text-box ul {
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 2.8rem;
}
.text-box ul li {
	font-size: 2.6rem;
	font-weight: 500rem;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 2.2rem;
}
.text-box ul li img {
	width: 3.4rem;
	height: 2.4rem;
}
.text-box ul .shop-area .btn {
	min-width: 35.1rem;
}
.img-box {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.img-box img {
	width: 100%;
}
.img-section {
	margin-top: 7.5rem;
	padding: 0 12.2rem;
	display: flex;
	justify-content: space-between;
}
.element {
	min-width: 22.8rem;
	max-width: 22.8rem;
	margin-bottom: 12.2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.element img {
	width: 20rem;
	border-radius: 50%;
	margin-bottom: 3.2rem;
}
.element p {
	width: 100%;
	font-weight: 700;
	font-size: 3rem;
	text-align: center;
	text-transform: capitalize;
}
.payment-section {
	margin: 12.2rem auto 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 103rem;
}
.payment-section span {
	display: inline-block;
	font-weight: 400;
	font-size: 5rem;
}
.payment-imgs {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 6.8rem;
	margin: 6.2rem 0 14rem 0;
}
.payment-img {
	/* height: 21rem; */
	width: 100%;
}
.footer-section {
	padding: 6.8rem 0 3.7rem 0;
	background-color: #000;
	color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2.7rem;
}
.footer-section h1 {
	font-weight: 700;
	font-size: 3rem;
}
.footer-section p {
	font-weight: 500;
	font-size: 2.4rem;
	line-height: 3.1rem;
	padding: 1.5rem 0;
	text-align: center;
}
.shop-footer {
	gap: 3rem;
}
.shop-footer .btn {
	padding: 2.3rem 8rem;
	align-items: center;
	justify-content: center;
}
.shop-footer a span {
	font-weight: 700;
	font-size: 3rem;
	letter-spacing: 0.01em;
	/* padding: 2.3rem 8rem; */
}
.shop-footer .guarantee {
	font-weight: 500;
	font-size: 2.4rem;
	line-height: 3.2rem;
}
.footer-menu {
	display: flex;
	padding: 0 9.6rem;
	width: 144rem;
	list-style: none;
	align-items: center;
	justify-content: space-between;
	margin: 3.7rem 0;
}
.footer-menu li {
	font-weight: 700;
	font-size: 2.4rem;
	text-transform: capitalize;
	letter-spacing: 0.1rem;
}
.social-icons {
	display: flex;
	align-items: center;
	justify-content: center;
}
.social-icon {
	width: 5.4rem;
	height: 5.4rem;
	margin-right: 7.4rem;
}
.social-icon:last-child {
	margin-right: 0;
}
.footer-section .contact {
	margin-top: 4.5rem;
	margin-bottom: 3.5rem;
}
.footer-section .contact,
.footer-section .rights,
.footer-section .info {
	font-weight: 500;
	font-size: 2.2rem;
}
.footer-section .info {
	margin-top: 1rem;
	margin-bottom: 1rem;
	font-size: 2rem;
}
.footer-section .rights {
	padding: 0 0;
}

/* MOBILE */
.btn-mobile-nav {
	border: none;
	background: none;
	cursor: pointer;

	display: none;
}

.icon-mobile-nav {
	height: 4.8rem;
	width: 4.8rem;
	color: #333;
}

.icon-mobile-nav[name='close-outline'] {
	display: none;
}
